* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  overflow: hidden;
}

footer {
  background-color: #f3e5e2 !important;
}

footer section:first-child {
  border-bottom: 1px solid #baa0bd;
}

