* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(photo/background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8.5em;
}

/* Image Login */
img.smallpic {
    width: 376px;
    height: 322px;
    /* margin-left: 280px;
    margin-top: 174px; */
    box-shadow: -5px -5px 18px #888888;
}

/* Form */
.mainform {
    background-color: white;
    /* margin-right: 388px;
    margin-left: 656px;
    margin-bottom: 44px;
    margin-top: -325px;
    */
    padding-left: 26px; 
    z-index: 99;
    position: relative;
    box-shadow: 5px 10px 18px #888888;
    opacity: 0.75;
}

img.logo {
    padding-left: 68px;
    width: 116px;
    height: 102px;
}

input {
    width: 75%;
    height: 35px;
    border-color: rgb(175, 102, 102);
    padding-left: 39px;
}

button {
    width: 91%;
    height: 38px;
    margin-top: 18px;
    border: none;
    background-color: rgb(175, 102, 102);
    color: white;
    border-radius: 9px;
}

button:hover {
    background-color: rgb(218, 193, 193);
    color: black;
}

.box {
    position: relative;
}

i {
    font-size: 16px;
    color: rgb(116, 34, 34);
    position: absolute;
    left: 14px;
    top: 12px;
}

i.bi-eye-slash {
    left: 79%;
    top: 8px;
    font-size: 19px;
}

span {
    font-size: 13px;
    font-family: arial;
    font-weight: initial;
}

.forgetpass {
    margin-left: 48%;
    padding-top: 13px;
    padding-bottom: 15px;
}

@media (min-width: 360px) and (max-width: 650px) {
    body {
       background-image: none;
    }

    .wrapper {
        display: block; 
        margin-top: 0;
    }

    .wrapper .col-lg-4 img {
        width: 100%;
    }

    .wrapper .mainform {
        text-align: center;
        padding-left: 0;
    }

    .wrapper img {
        padding-left: 0;
    }

    .wrapper .box i {
        left: 10%;
    }

    .wrapper .box i.bi-eye-slash {
        left: 81%;
    }
    .wrapper .box button{
        width: 86%;
    }
    .wrapper .box .forgetpass{
        margin-left: 58%;
        padding-left: 0;
    }
    
}