* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Navbar */
nav {
  /* position: fixed !important;
  z-index: 99 !important; */
  /* width: 100%; */
  top: 0;
  left: 0;
  right: 0;

}

ul li a {
  display: block;
}

ul li a:hover {
  /* background-color: rgb(99, 91, 91); */
  color: rgb(224, 175, 130) !important;
}

.button:first-child,
.button:last-child {
  background-color: rgb(207 143 143);
  border-color: #fff;
}

.button:hover {
  background-color: transparent !important;
  text-decoration: none !important;
  color: #000;
}

.button:hover a {
  color: #000;
}

.button a {
  color: #fff;
  text-decoration: none !important;
}

/* Menu Dropdown */

.location {
  position: relative;
}

.sub-menu {
  position: absolute;
  width: 18em;
  background-color: #000;
  display: none;
}

.sub-menu li {
  list-style-type: none;
  border-bottom: 1px solid #414141;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 30px;
}

.sub-menu li:last-child {
  border-bottom: none;
}

.sub-menu li a {
  text-decoration: none;
  color: #fff;
}

.sub-menu li:hover {
  color: #000;

}

.location:hover .sub-menu {
  display: block;

}

@media (min-width: 360px) and (max-width: 650px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar-collapse {
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    background-color: #fff;
  }

  .sub-menu {
    position: initial;
  }
}

@media (min-width: 360px) and (max-width: 650px) {
  
}