* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin-bottom: 1rem;
}

.list-view .row>[class*='col-'] {
  max-width: 100%;
  flex: 0 0 100%;
}

.list-view .card {
  @media (max-width: 575.98px) {
    flex-direction: column;
  }
}

.list-view .card {
  flex-direction: row;
}

.list-view .card>.card-img-top {
  width: auto;
}

.list-view .card .card-body {
  display: inline-block;
}