* {
  margin: 0;
  padding: 0;
}

/* Introduce */
h1 {
  font-family: 'Cormorant Garamond', serif;
}

/* 1. Background */
.background {
  background-image: url('./Images/BackgroundImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 615px;
}

.heading {
  position: relative;
}

.heading .box {
  width: 40%;
  /* position: absolute; */
  top: -4em;
  background-color: #fff;
  padding-left: 1em;
}

.heading .post-box-address {
  margin-bottom: 20.25px;
}

.heading .post-box-address .post-box-date {
  color: #959595;
  font-weight: 300;
  font-style: italic;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  margin-bottom: 1.5em;
  font-style: italic;
}

/* 2. Table Content */
.table-content {
  background: #f9f9f9;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  display: table;
  margin-bottom: 1em;
  margin-left: 4em;
  padding: 10px;
  position: relative;
  width: auto;
}

.table-content .title {
  font-weight: 500;
  text-align: left;
  line-height: 1.45;
}

/* Multi Level List */
.mbtTOC2 ol {
  counter-reset: section1;
  list-style: none
}

.mbtTOC2 ol ol {
  counter-reset: section2
}

.mbtTOC2 ol ol ol {
  counter-reset: section3
}

.mbtTOC2 ol ol ol ol {
  counter-reset: section4
}

.mbtTOC2 ol ol ol ol ol {
  counter-reset: section5
}

.mbtTOC2 li:before {
  content: counter(section1);
  counter-increment: section1;
  position: relative;
  padding: 0 8px 0 0;
  font-size: 18px
}

.mbtTOC2 li li:before {
  content: counter(section1) "." counter(section2);
  counter-increment: section2;
  font-size: 14px
}

.mbtTOC2 li li li:before {
  content: counter(section1) "." counter(section2) "." counter(section3);
  counter-increment: section3
}

.mbtTOC2 li li li li:before {
  content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4);
  counter-increment: section4
}

.mbtTOC2 li li li li li:before {
  content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4)"." counter(section5);
  counter-increment: section5
}

#mbtTOC2 .point1 {
  padding: 0;
}

#mbtTOC2 .point1 li {
  font-size: 95%;
}

#mbtTOC2 .point1 li a {
  color: #444;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
}

#mbtTOC2 .point1 li a:hover {
  text-decoration: underline;
}

/* 3. Content */